

.chatcontainer {
	box-shadow: 3px 3px 6px 6px hsl(0, 0%, 80%);
	padding: 20px;
	background: white;
}
.chatcontainer li {
	list-style: none;
	color: blue;
	line-height: 3rem;
	font-size: 1.1rem;
	cursor: pointer;
	border-bottom: .5px solid hsl(0, 0%, 90%);
}
.chatcontainer li:hover {
	text-decoration: underline;
}
.chat {
	display: center;
	margin-top: 50%;
	padding-left: 50%;

	
}
.message-title {
	padding: 20px 0;
}